form.rating
    label
        input.one(type="radio" name = "stars" value = "1")
        span.icon ★
    label
        input.two(type="radio" name = "stars" value = "2")
        span.icon ★
        span.icon ★
    label
        input.three(type="radio" name = "stars" value = "3")
        span.icon ★
        span.icon ★
        span.icon ★
    label
        input.four(type="radio" name = "stars" value = "4")
        span.icon ★
        span.icon ★
        span.icon ★
        span.icon ★
    label
        input.five(type="radio" name = "stars" value = "5")
        span.icon ★
        span.icon ★
        span.icon ★
        span.icon ★
        span.icon ★
script(src='/javascript/populate-stars.js')
