.comment
    h2 Enter your comment here:
        input(type='text' id="comment")
    button.btn(id="submit-comment" type="submit" onClick="newCommentHandler()") Submit
    script(src='/javascript/comment.js')