extends layout

block layout-content
  script(src='/javascript/tooltips.js')
  div.View
    div.flex-row
      div.Message
        a(href="placeholder.webp") 
          img(src="placeholder.webp")
          p.flex-item here to upload an avatar
          //- boostrap modal       
        div.Title
          h2 #{userProfile.nickname}
          h3 Number of reviews: #{userProfile.reviews.length}
          h3 Number of upvotes: #{userProfile.upvotes.length}
          h3 Number of comments: #{userProfile.comments.length}
      div.Create
        h1 Create New Post
        //- tooltip for category criteria
        br
        h2 Service: 
          input(type='text')
        h2 Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          input(type='text')
        div.tooltip
        h2 <a href="#" data-toggle="tooltip" title="Was the driver wearing a mask? Did they leave things at your door without contact if you asked for it? Were things packaged properly? Was everything sealed?"><i class="fas fa-info-circle"></i></a>  Safety:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          include stars
        h2 <a href="#" data-toggle="tooltip" title="How was the food? Was it properly seasoned? Was it still the desired temperature when it got to you?"><i class="fas fa-info-circle"></i ></a>  Quality:&nbsp;&nbsp;&nbsp;&nbsp;
          include stars
        h2 <a href="#" data-toggle="tooltip" title="Did they get your order correct? Did you get everything that you ordered?"><i class="fas fa-info-circle"></i ></a>  Accuracy:
          include stars
        h2 <a href="#" data-toggle="tooltip" title="Were they timely? Did you feel like the time given was reasonable?"><i class="fas fa-info-circle"></i ></a>  Speed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          include stars
        h2 <a href="#" data-toggle="tooltip" title="Did you feel the prices matched up with what you got?"><i class="fas fa-info-circle"></i ></a>  Value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          include stars
        br
        h2 Review Content:
          textarea(type='input')
        button Create
  div.post-row.wrap
    include post-preview
    include post-preview
    include post-preview
    include post-preview
    include post-preview
      
  script(src='/javascript/stars.js')  