extends layout

block layout-content
    div.Create
        h1 Edit Post
        br
        h2 Service: 
            input(type='text')
        h2 Title:
            input(type='text')
        //- need to have things be populated when entering this page - stars will be trickier
        h2 Safety:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            include stars
        h2 Quality:&nbsp;&nbsp;&nbsp;&nbsp;
            include stars
        h2 Accuracy:
            include stars
        h2 Speed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            include stars
        h2 Value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            include stars
        br
        h2 Review Content:
        textarea(type='input')
        button Save
        button Delete
        script(src='/javascript/stars.js')