extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Over-Deliver
    div.Message
      div.Title
        h3 Finding out what
        h1 Deliveries you want made
      span.Details Access the Over-Deliver Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!