extends layout

block layout-content
    form.login-form.input-form
        h1 Login
        h2 Username:
            input(type='text')
        h2 Password:
            input(type='text')

//- username
//- password
//- redirect if successful
//- message for no username
//- message for incorrect password