extends layout

block layout-content
    form(class="login-form")
        div(class="login-title") LOG-IN
        div(class="login-body")
            div(class="login-uname") USERNAME:
            input(type='text' id="username-login")
            div(class="login-pword") PASSWORD:
            input(type='password' id="password-login")
            br
            button(type="submit" class="login-btn") LOG IN
    script(src="/javascript/login.js")


