div.Post
  div.Title
    h2 Service: #{review.service}
    h2 Title: #{review.title}
    h2 Average Rating:
      div.hidden #{review.average}
      include average-stars
    //- overall only for preview. 
    h2 Content:
    p #{review.text}
    button Comment
    button Edit


    