extends layout

block layout-content
    img(src="/assets/images/featured.png" class="img-fluid mx-auto" id="featuredImgHeader")
    if reviews.length
        div.post-row.wrap
            each review in reviews
                include random-post-preview