extends layout

block layout-content
    form.search-form.input-form
        //- div.input-group.mt-3.mb-3
        //-     div.input-group-prepend
        //-         button.btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown" type="button") Category
        //-         div.dropdown-menu(aria-labelledby="dropdownMenuButton")
        //-             a.dropdown-item(href="#") Safety
        //-             a.dropdown-item(href="#") Quality
        //-             a.dropdown-item(href="#") Accuracy
        //-             a.dropdown-item(href="#") Speed
        //-             a.dropdown-item(href="#") Value
        //-             a.dropdown-item(href="#") Average
        //-         input(type="text" class="form-control" placeholder="Provider/Leave blank for all")
        div.dropdown
            button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Category
            div.dropdown-menu(aria-labelledby="dropdownMenuButton")
                a.dropdown-item(href="#") Safety
                a.dropdown-item(href="#") Quality
                a.dropdown-item(href="#") Accuracy
                a.dropdown-item(href="#") Speed
                a.dropdown-item(href="#") Value



//- Search by rating in each category and average
//- dropdown
//- Search by number of upvotes?
//- Search by number of comments?
//- Search by keyword?
//- Search by provider
//- Safety, Quality, Accuracy, Speed, Value