extends layout

block layout-content
    form.signup-form.input-form
        h1 Signup Form
        h2 Username:
            input(type='text')
        h2 E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type='text')
        h2 Password:
            input(type='text')


//- input username, password, e-mail
//- message if username or e-mail already exists