form.rating
    label
        input(type="radio" name = "stars" value = "1")
        span.icon ★
    label
        input(type="radio" name = "stars" value = "2")
        span.icon ★
        span.icon ★
    label
        input(type="radio" name = "stars" value = "3")
        span.icon ★
        span.icon ★
        span.icon ★
    label
        input(type="radio" name = "stars" value = "4")
        span.icon ★
        span.icon ★
        span.icon ★
        span.icon ★
    label
        input(type="radio" name = "stars" value = "5")
        span.icon ★
        span.icon ★
        span.icon ★
        span.icon ★
        span.icon ★

