extends layout

block layout-content
        div.center
            div.Create
                h2 Service: HelloFresh
                h2 Title: Meow
                //- need to have things be populated when entering this page - stars will be trickier
                h2 Safety:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    include stars
                h2 Quality:&nbsp;&nbsp;&nbsp;&nbsp;
                    include stars
                h2 Accuracy:
                    include stars
                h2 Speed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    include stars
                h2 Value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    include stars
                br
                h2 Review Content:
                    textarea(type='input')
                script(src='/javascript/stars.js')