@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.Banner {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: "Share Tech Mono", monospace;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Post {
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  width: 600px;
  margin: 20px;
}

.input-form {
  display: block;
  margin: auto;
  text-align: center;
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  justify-content: flex-start;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.center {
  display: flex;
  align-content: center;
  justify-content: center;
}
.post-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
p.flex-item {
  font-size: 7px;
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
.right-text {
  text-align: right;
}
nav a{
  margin-left: 10px;
  margin-right: 10px;
}

img {
  margin-right: 20px;;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 80px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
.neg-bottom {
  margin-bottom: -25px;
}

.container {
  padding: 20px 10px 20px 10px;
}

.lead {
  font-size: 25px;
}

.nav-item {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/* 
.btn {
  color: #345D23;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-right: 15px;
}

.h2 {
  font-size: 50px;
  padding: 20px;
  text-align: left;
  color: #345D23;
}

.lead {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;

}

h3 {
  color: white;
  font-size: 30px;
  background-color: #80A860;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.h4 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#signupBtn {
  color: white;
  background-color: #345D23;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  justify-content: center;
}

footer {
  background-color: #345D23;
  text-align: center;
  color: white;
  padding: 70px;
}

.footer {
  color: white;
  text-align: left;
  align-items: bottom;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
} */

#page-container {
  position: relative;
  min-height: 85vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}
/* 
/* LOGIN */
/* 
.login-title {
  color: #80a860;
  font-size: 30px;
}

.login-form{
  display: block;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
}

.login-uname{
  padding-bottom: 3px;
  color: white;
}

.login-pword{
  padding-bottom: 3px;
  margin-top: 2px;
  color: white;
}

#username-login{
  width: 85%;
  padding-left: 20px;
}

#password-login{
  width: 85%;
  padding-left: 20px;
}

.login-btn{
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: white;
  color: #345D23;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: .25rem;
  font-size: 18px;
}

.login-body{
  background-color: #80A860;
}
.hidden {
  display: none;
} */ */

.stars {
  font-size: 30px;
  color: gold;
}